h2, img {
  margin-bottom: 1rem;
}

h2:hover, img:hover {
  cursor: pointer;
}

p {
  font-size: .9rem;
  font-style: italic;
}

p .status-unlocked {
  color: #14a314;
}

p .status-locked {
  color: red;
}
