@use 'sass:map';
@use '@angular/material' as mat;
@import '../variables.scss';


@mixin card-theme($theme) {
  $color-config: mat.get-color-config($theme);

  $primary-palette: map.get($color-config, 'primary');

  mat-card.mat-mdc-card.mdc-card {
    height: 100%;
    padding: 1.25rem;
    margin: 1rem 0;

    @include mat.overridable-elevation(4);

    .mat-mdc-card-header {
      mat-card-title.mat-mdc-card-title {
        color: $brand-color;
        font-size: 1.2rem;
        font-weight: 600;
        border-color: mat.get-color-from-palette($primary-palette, Gray)!important;
        background-color: mat.get-color-from-palette($primary-palette, White)!important;
      }
      mat-card-subtitle.mat-mdc-card-subtitle {
        color: mat.get-color-from-palette($primary-palette, Gray) !important;
        font-size: .9rem;

      }
    }

    mat-card-content.mat-mdc-card-content {
      margin: 1rem 0;
    }

    mat-card-actions.mat-mdc-card-actions.mdc-card__actions {
      margin-top: auto;
      margin-left: auto;
    }
  }
}

