<ng-container *ngIf="lesson; noLesson">
    <li>Title: {{lesson.title}}</li>
    <li>Duration: {{lesson.duration}}</li>
    <li>Video:
        <video #myPlayer class="video-js vjs-default-skin" controls preload="auto">
            <source [src]="lesson.link" type="application/x-mpegURL">
            Ваш браузер не поддерживает HTML5 видео.
        </video>
    </li>
    <li>Status: {{lesson.status}}</li><mat-list-item>Order: {{lesson.order}}</mat-list-item>
    <li>
        <img mat-card-image [ngSrc]="lesson.previewImageLink + '/' + lesson.order + '.webp'" [alt]="lesson.title"
            width="400" height="200">
    </li>
    <li>Order: {{lesson.order}}</li>
    <li>Type: {{lesson.type}}</li>
</ng-container>

<ng-template #noLessons>No lessons</ng-template>