<ng-container *ngIf="lesson; noLesson">
    <li>Title: {{lesson.title}}</li>
    <li>Duration: {{lesson.duration}}</li>
    <li>Video:
        <app-video-player [url]="lesson.link"></app-video-player>
    </li>
    <li>Status: {{lesson.status}}</li><mat-list-item>Order: {{lesson.order}}</mat-list-item>
    <li>
        <img mat-card-image [src]="lesson.previewImageLink + '/' + lesson.order + '.webp'" [alt]="lesson.title"
            width="400" height="200">
    </li>
    <li>Order: {{lesson.order}}</li>
    <li>Type: {{lesson.type}}</li>
</ng-container>

<ng-template #noLessons>No lessons</ng-template>

<!-- //https://betterprogramming.pub/the-best-open-source-media-player-to-integrate-with-your-angular-apps-39a80ff1aedb -->