@import './variables.scss';

.app-page {
    margin: 0 auto;
    border-radius: .5rem;
    padding: 0;

    &__header {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1000;
      width: 100%;
      text-align: center;
      height: $header-height;
    }

    .header {
      &__title {
        font-size: 1.3em;
        width: 100%;
        display: flex;
        align-items: unset;
        justify-content: space-between;
        &:hover {
          cursor: pointer;
        }
      }&__brand {
        &::first-letter {
          color: $brand-color;
          font-weight: 700;
        }
      }
    }

    .main {
      flex-grow: 1;
      min-height: $main-height;
      margin: 0 auto;
      margin-top: $header-height;
      justify-content: center;
      padding: 1rem;
    }

    .preview-course {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .left-side {
        width: 64%;
      }
      .right-side {
        width: 30%;
        overflow: auto;
      }
    }

    .main-container {
      max-width: $max-width;
      padding: 1rem;
      background-color: $base-light;

        main.courses-list {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: stretch;

          .course {
              display: flex;
              flex-direction: column;
              border-radius: .3rem;
              margin: .5rem;
              width: calc(50% - 1.2rem);
          }
        }
    }
    
    &__footer {
      height: $footer-height;
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      padding: .6rem;
      color: $base-light;
      font-size: .9rem;
      font-weight: 300;
      line-height: 1.5rem;
      background-color: $base-dark;
      &-copyright {
        font-size: 0.8rem;
        color: $base-light;
        text-align: center;
        margin-bottom: 1rem;
      }
    }
}

  @media (max-width: 1024px) {
    .app-page .main-container {
      main.courses-list > .course {
      width: 100%;
    }
  }
    .app-page {
      .main .preview-course {
          flex-direction: column;
          justify-content: center;
      
          .left-side,
          .right-side {
            width: 100%;
          }
        }
    }
}

  @media (min-width: 600px) {
    .main-container {
    padding: 0 10rem;
  }
}