<app-shared-loader>
    <ng-container *ngIf="course$ | async as course">
        <div>
            <section>
                <ul>
                    <li>{{course.title}}</li>
                    <li>{{course.launchDate | date}}</li>
                    <li>lessons count:{{course.lessonsCount}}</li>
                    <li>Description:{{course.description}}</li>
                    <li>Duration:{{course.duration}}</li>
                    <li>Locked Lessons{{course.containsLockedLessons ? 'Yes': 'No'}}</li>
                </ul>
            </section>
    
            <img mat-card-image [src]="course.previewImageLink + '/cover.webp'" width="400" height="200" priority
                [alt]="course.title">
    
            <section>
                <h2>Lessons</h2>
                <ul *ngFor="let lesson of course?.lessons">
                    <app-video-lesson [lesson]="lesson"></app-video-lesson>
                </ul>
            </section>
            <mat-divider></mat-divider>
    
            <section>
                <h2>Meta Info</h2>
                <ul *ngIf="course?.meta as meta; noMeta">
                    <li>Slug: {{meta?.slug}}</li>
                    <mat-list-item>Skills:
                        <mat-chip-listbox *ngIf="meta?.skills as skills; noSkills" aria-label="tags">
                            <mat-chip *ngFor="let skill of skills" color="accent">{{skill}}</mat-chip>
                        </mat-chip-listbox>
                        <ng-template #noSkills>No skills</ng-template>
                    </mat-list-item>
    
                    <app-video-preview [video]="meta.courseVideoPreview"></app-video-preview>
    
                </ul><ng-template #noMeta>No Meta Information</ng-template>
            </section>
    
            <mat-divider></mat-divider>
    
            <section>
                <app-rating [rating]="course.rating"></app-rating>
                <mat-chip-listbox aria-label="tags">
                    <mat-chip *ngFor="let tag of course.tags" color="accent">{{tag}}</mat-chip>
                </mat-chip-listbox>
            </section>
            <mat-divider></mat-divider>
    
        </div>
    </ng-container>
</app-shared-loader>

<section>
    <button mat-raised-button color="primary" [routerLink]="['courses']">Back to courses</button>
</section>