<h2>Lessons ({{lessons.length}})</h2>
<mat-divider></mat-divider>
<section *ngIf="lessons; noLessons">
    <div *ngFor="let lesson of lessons; let i = index; trackBy: trackByFn">
        <h4>{{lesson.order}}. {{lesson.title}}</h4>
        <img 
            [src]="lesson.previewImageLink + '/lesson-' + lesson.order + '.webp'"
            (click)="getOrders(lesson.order)"
            width="150px"
        >
        <p>{{lesson.duration | transformTime}}</p>
        <p>Status: 
            <span [ngClass]="lesson.status === 'unlocked' ? 'status-unlocked' : 'status-locked'">
                {{lesson.status}}
            </span>
        </p>
        <mat-divider></mat-divider>  
    </div>
</section>

<ng-template #noLessons>No lessons</ng-template> 