
h2, img {
  margin-bottom: 1rem;
}

p {
    font-size: .9rem;
    font-style: italic;

    .status {
        &-unlocked {
          color: rgb(20, 163, 20);
        }
        &-locked {
            color: red;
        }
    }
}