@use '@angular/material' as mat;

@import './styles/main';
@import './styles/material';

@include mat.core();

$genLib-primary: mat.define-palette($my-palette-primary, 800, 700);

$genLib-accent: mat.define-palette($my-palette-accent, 800, 700, A400);

$genLib-warn: mat.define-palette(mat.$red-palette);

$genLib-theme: mat.define-light-theme((
  color: (
    primary: $genLib-primary,
    accent: $genLib-accent,
    warn: $genLib-warn,
  )
));

@mixin custom-components-theme($theme) {
  @include card-theme($theme);
  @include sidenav-theme($theme);
}

@include custom-components-theme($genLib-theme);
@include mat.all-component-themes($genLib-theme);
